/* INIT THE CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL ELEMENT */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: #202020;
    background-color: #c1fdfd;
    font-family: "Ubuntu", Verdana, sans-serif;
    background: url("./assets/images/bcg.webp") no-repeat;
}

a {
    color: white;
}

/* HEADER */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

header h1 {
    text-align: right;
    text-transform: uppercase;
    color: #f0ffff;
    padding: 1.5rem 0.5rem;
    font-size: 2.5rem;
}

.rotate {
    animation:spin 3s linear infinite;
}

@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    }
} 

#menu-btn {
    width: 5rem;
    height: 5rem;
    background-color: #f0ffff00;
    border: 1px solid #20202000;
    border-radius: 2.5rem;
    margin: 0.5rem;
    font-size: 2.5rem;
}

#menu-btn img {
    width: 5rem;
}

.menu-off {
    display: none;
}

.menu-display {
    width: 100%;
    background-color: #202020;
    top: 6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    z-index: 100;
}

.menu-overlay {
    background-color: #202020ee;
    width: 100%;
    height: 100vh;
    display: block;
    position: fixed;
    z-index: 50;
}

nav svg {
    padding: 0 1rem 0;
}

nav a {
    color: #f0ffff;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2rem;
}

nav a:hover {
    background-color: #161616;
}

/* MAIN GLOBAL */

h2 {
    text-align: center;
    margin: 2rem;
    text-transform: uppercase;
}

h3 {
    background-color: #202020af;
    color: #f0ffff;
    text-align: center;
    margin: 1.5rem;
    text-transform: uppercase;
    width: 60%;
    margin: 2rem auto 0;
    padding: 0.5rem;
    border-radius: 1rem 1rem 0 0;
}

.popup p {
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
}

.popup {
    background-color: #c8ff00da;
    color: #006be6;
    border: 1px solid #7e7c00;
    border-radius: 1rem;
    font-weight: bold;
    width: 75%;
    margin: auto;
}

.popup-log {
    background-color: #c8ff00da;
    color:#ff0033;
    font-weight: bold;
}

.btn-manager {
    margin: 2rem auto;
    text-align: center;
}

.btn {
    font-family: "Ubuntu", Verdana, sans-serif;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    background-color: #202020af;
    border-radius: 1rem;
    color: #f0ffff;
    font-weight: bold;
    text-decoration: none;
    border: 0;
}

.btn-del {
    background-color: #dc143c;
}

.btn-edit, .btn-link {
    background-color: #1432dc;
}

.btn-valid {
    background-color: #008000;
}

.btn-edit, .btn-del, .btn-valid, .btn-link {
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
    color: #f0ffff;
    border: 0;
}

.btn-link { 
    padding: 0.6rem;
}



/* MAIN SPEC ELEMENT  */

#form-entry {
    text-align: center;
}

#form-entry img {
    width: 40%;
    text-transform: uppercase;
}

fieldset input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

fieldset legend {
    text-transform: uppercase;
    font-weight: bold;
}

fieldset {
    width: 60%;
    margin: auto;
    padding: 1rem;
}

#user-list {
    width: 80%;
    margin: auto;
}

.divider {
    margin: 5rem auto;
}

#bookmarks, #profile {
    display: flex;
    width: 100%;
    flex-direction: column;
}


table {
    border-radius: 0 0 1rem 1rem;
    margin: 0 auto 5rem auto;
}

table, #home, #contact {
    width: 60%;
    padding: 1.5rem;
    color: #f0ffff;
    background-color: #202020af;
}

#home, #contact {
    border-radius: 1rem;
    margin: 10rem auto;
}

table tr th {
    text-align: center;
}

table tr td {
    text-align: center;
}



#bookmark-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 75%;
}

#search-bar form, .category-bar {
    background-color: #20202075;
    border-radius: 0.5rem;
    display: flex;
    width: 50%;
    margin: 1rem auto;
    flex-wrap: wrap;
}

#search-bar form input {
    background: url("./assets/images/google_logo.svg")
        no-repeat;
    background-position: 0.5rem;
    border: 1px solid #27262b;
    background-color: #f0ffff;
    border-radius: 0.5rem;
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem 3rem;
    justify-content: center;
}

.category-bar select {
    background-position: 0.5rem;
    border: 1px solid #27262b;
    background-color: #f0ffff;
    border-radius: 0.5rem;
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
}

.Card {
    margin: 2rem;
    background-color: #202020;
    border: 1px solid #202020;
    box-shadow: 0 0 5px #202020;
    text-align: center;
    transform: scale(1);
}

.Card img {
    width: 150px;
    height: auto;
}

.Card abbr p {
    color: #f0ffff;
    font-weight: bold;
    font-size: medium;
    margin: 0;
    text-transform: uppercase;
}

.Card a {
    text-decoration: none;
}

.Card:hover {
    transform: scale(1.05);
}


/* FOOTER */

footer {
    width: 100%;
    padding: 0.01rem 0;
    margin: 3rem 0 0 0;
    color: #f0ffff;
    background-color: #20202075;
}

footer > p {
    text-align: center;
}

@media screen and (min-width: 768px) {

    header h1 {
        padding: 1rem 0.5rem;
    }


    .menu-display {
        top: 6rem;
        width: 25%;
    }

    footer {
        position: fixed;
        bottom: 0;
        background-color: #20202000;
    }

    footer > p {
        text-align: right;
        padding: 0 0.5rem;
    }
}

